* {
	margin: 0px;
}

body {
	height: auto;
}

header {
	background-color: rgb(16, 33, 49);
	height: 10vh;
}

#title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: cursive;
	color: aliceblue;
	height: 100%;
	border-top: solid white 3px;
}

main {
	background-color: cadetblue;
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	width: auto;
	border-top: solid white 3px;
}

.inf {
	padding-top: 50px;
	text-align: center;
	color: aliceblue;
	font-family: sans-serif;
}

a {
	color: slateblue;
}

a:hover {
	color: midnightblue;
}

#img {
	padding-top: 30px;
	border-radius: 70%;
	height: auto;
	width: 150px;
}

.t1 {
	padding-top: 30px;
}

.t2 {
	padding-top: 30px;
}

.trolling {
	padding-top: 50px;
}
footer {
	color: aliceblue;
	background-color: rgb(16, 33, 49);
	display: block;
	text-align: center;
	height: 10vh;
}

#mot {
	display: flex;
	justify-content: center;
	text-align: center;
}
